<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J1XM2TE7QX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-J1XM2TE7QX");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan Your Day</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/static/images/favicon.png"
    />
    <script
      src="https://kit.fontawesome.com/aebdbe8212.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="mobile-menu hidden" id="mobile_menu">
      <a href="#close" class="mobile-close" id="mobile_close">Close</a>
      <nav>
        <ul class="main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">FAQ</a></li>
          <li><a href="/porch-signup/">Porch Signups</a></li>
          <li><a href="/volunteer/">Volunteer</a></li>
          <li><a href="/sponsorship/">Sponsorship</a></li>
          <li><a href="/donate/">Donate</a></li>
        </ul>
      </nav>
    </div>
    <header class="main-header">
      <nav>
        <ul class="main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">FAQ</a></li>
          <li><a href="/porch-signup/">Porch Signups</a></li>
          <li><a href="/volunteer/">Volunteer</a></li>
          <li><a href="/sponsorship/">Sponsorship</a></li>
          <li><a href="/donate/">Donate</a></li>
        </ul>
        <a href="#menu" class="mobile-menu-btn" id="mobile_toggle">Menu</a>
      </nav>
      <div class="login-section">
        <a href="/dashboard/login/">Login</a>
      </div>
    </header>
    <main class="plan-your-day">
      <div class="filters border-ghost rounded-2 padding-3">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search" />
        </div>
        <div class="timerange">
          <h4 class="margin-0"><i class="fa-regular fa-clock"></i> Time Range</h4>
          <div class="row gutter-2 margin-y-2">
            <div class="col-6">
                <label>
                    <small>Start Time</small><br />
                    <input type="time" name="starttime" />
                </label>
            </div>
            <div class="col-6">
                <label>
                <small>End Time</small><br />
                    <input type="time" name="endtime" />
                </label>
            </div>
          </div>
        </div>
        <div class="genres">
          <h4 class="margin-0">Genres</h4>
          <div class="margin-y-2">
            <span class="chip background-yellow small padding-2 margin-y-1">Accoustic</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Americana</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Country</span>
            <span class="chip background-yellow small padding-2 margin-y-1">DJ</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Dance/Electric/House</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Folk</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Hip-Hop/Rap</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Indie</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Jazz</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Pop</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Punk</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Rock</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Singer Songwriter</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Ska</span>
            <span class="chip background-yellow small padding-2 margin-y-1">Yoga</span>
          </div>
        </div>
        <div class"additionalfilters">
            <h4 class="margin-0">Additional Filters</h4>
            <div class="margin-y-2">
                <div><label><input type="checkbox" name="food-available"> Food available</label></div>
                <div><label><input type="checkbox" name="kid-friendly"> Kid Friendly</label></div>
            </div>
        </div>
        <button class="small yellow">Reset Filters</button>
      </div>
      <div class="performances border-ghost rounded-2 padding-3">
        <div class="row width-100">
            <h4 class="margin-0 grow-1">Performances</h4>
            <p class="margin-0">29 results</p>
        </div>
        <div class="rounded-2 border-light margin-y-2 overflow-hidden">
            <div class="background-light padding-2">
                <small><i class="fa-regular fa-clock"></i> 10:00 AM</small>
            </div>
            <div class="row gutter-2 padding-2 border-bottom-1">
                <div class="col grow-1">
                    <div class="column gutter-1">
                        <h4 class="margin-0">Call Me James</h4>
                        <div>Great Porch!</div>
                        <div>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Folk</span>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Indie</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="small round background-yellow border-none padding-2 inline-block"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <div class="row gutter-2 padding-2">
                <div class="col grow-1">
                    <div class="column gutter-1">
                        <h4 class="margin-0">GypsyBeanYoga</h4>
                        <div>The Gypsy Porch</div>
                        <div>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Yoga</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="small round background-light border-none padding-2 inline-block"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>
            <div class="background-light padding-2">
                <small><i class="fa-regular fa-clock"></i> 11:00 AM</small>
            </div>
            <div class="row gutter-2 padding-2 border-bottom-1">
                <div class="col grow-1">
                    <div class="column gutter-1">
                        <h4 class="margin-0">Manny Kelsey</h4>
                        <div>The Gypsy Porch</div>
                        <div>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Country</span>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Folk</span>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Indie</span>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Singer Songwriter</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="small round background-light border-none padding-2 inline-block"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>
            <div class="background-light padding-2">
                <small><i class="fa-regular fa-clock"></i> 11:15 AM</small>
            </div>
            <div class="row gutter-2 padding-2 border-bottom-1">
                <div class="col grow-1">
                    <div class="column gutter-1">
                        <h4 class="margin-0">Private Tears</h4>
                        <div>Great Porch!</div>
                        <div>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Rock</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="small round background-light border-none padding-2 inline-block"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>
            <div class="background-light padding-2">
                <small><i class="fa-regular fa-clock"></i> 11:30 AM</small>
            </div>
            <div class="row gutter-2 padding-2 border-bottom-1">
                <div class="col grow-1">
                    <div class="column gutter-1">
                        <h4 class="margin-0">Nas</h4>
                        <div>The Gypsy Porch</div>
                        <div>
                            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">Accoustic</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="small round background-yellow border-none padding-2 inline-block"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
      </div>
      <div class="itinerary border-ghost rounded-2 padding-3">
        <div class="row gutter-2 width-100">
            <h4 class="margin-0 margin-y-1 grow-1">My Itinerary</h4>
            <button class="small ghost padding-2"><i class="fa-solid fa-share-nodes"></i></button>
            <button class="small ghost padding-2"><i class="fa-regular fa-calendar"></i></button>
            <button class="small yellow nowrap padding-2"><i class="fa-regular fa-floppy-disk"></i> Save</button>
        </div>
        <div class="column border rounded-2 margin-y-3">
            <div class="padding-2 border-bottom-1 margin-bottom-2">
                <div class="row gutter-2 width-100">
                    <h5 class="margin-0 padding-1 grow-1">GypsyBeanYoga</h5>
                    <button class="small ghost padding-1"><i class="fa-regular fa-calendar"></i></button>
                    <button class="small ghost padding-1"><i class="fa-regular fa-trash-can"></i></button>
                </div>
                <p class="margin-1"><small><i class="fa-regular fa-clock"></i> 10:00 AM - 10:30 AM</small></p>
                <p class="margin-1"><small><i class="fa-solid fa-location-pin"></i> The Gypsy Porch</small></p>
            </div>
            <div class="padding-2 border-bottom-1 margin-bottom-2">
                <div class="row gutter-2 width-100">
                    <h5 class="margin-0 padding-1 grow-1">Many Kelsey</h5>
                    <button class="small ghost padding-1"><i class="fa-regular fa-calendar"></i></button>
                    <button class="small ghost padding-1"><i class="fa-regular fa-trash-can"></i></button>
                </div>
                <p class="margin-1"><small><i class="fa-regular fa-clock"></i> 11:00 AM - 11:30 AM</small></p>
                <p class="margin-1"><small><i class="fa-solid fa-location-pin"></i> The Gypsy Porch</small></p>
            </div>
            <div class="padding-2">
                <div class="row gutter-2 width-100">
                    <h5 class="margin-0 padding-1 grow-1">Private Tears</h5>
                    <button class="small ghost padding-1"><i class="fa-regular fa-calendar"></i></button>
                    <button class="small ghost padding-1"><i class="fa-regular fa-trash-can"></i></button>
                </div>
                <p class="margin-1"><small><i class="fa-regular fa-clock"></i> 11:15 AM - 12:00 PM</small></p>
                <p class="margin-1"><small><i class="fa-solid fa-location-pin"></i> Great Porch!</small></p>
            </div>
        </div>
        <div class="background-light rounded-2 padding-2">
            <h5 class="margin-0 margin-bottom-2">Export Your Itinerary</h5>
            <button class="background-white border-light small padding-y-1 margin-y-1"><i class="fa-regular fa-calendar"></i> Download .ics file</button>
            <button class="background-white border-light small padding-y-1 margin-y-1"><i class="fa-regular fa-calendar"></i> Google Calendar</button>
            <button class="background-white border-light small padding-y-1 margin-y-1"><i class="fa-regular fa-calendar"></i> Apple/Outlook</button>
            <button class="background-white border-light small padding-y-1 margin-y-1"><i class="fa-solid fa-download"></i> Export CSV</button>
            <button class="background-white border-light small padding-y-1 margin-y-1"><i class="fa-solid fa-print"></i> Print</button>
        </div>
      </div>
    </main>
    <footer>
      <h1>Tower Porchfest</h1>
      <div class="socials">
        <a href="https://instagram.com/towerporchfest" target="_blank">
          <i role="link" class="fab fa-instagram fa-xl" aria-hidden="true"></i>
        </a>
        <a href="https://facebook.com/towerporchfest" target="_blank">
          <i role="link" class="fab fa-facebook-f fa-xl" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
    <script src="/static/website/js/mobile-menu.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
  </body>
</html>
