{% extends "website/base.html" %}
{% load static %}
{% block title %}Sponsorship{% endblock %}
{% block mainclass %}sponsorship-page-styles page{% endblock %}
{% block content %}
    <div class="content">
        <header>
            <h1>Sponsorship</h1>
        </header>
        <p>On April 25 homes all over the Tower District will open their porches and front yards for the neighborhood’s largest community-wide celebration, Tower Porchfest! Last year we had 90 porches with over 350 performances. There were over 23,000 views of the interactive map and our Social Media grew to 5,700+ followers (and counting).</p>

        {% comment %} Do we need 501c3 thingy {% endcomment %}

        <h2>How will funds be spent?</h2>
        <p>100% of sponsorship donations go directly to Tower Porchfest.</p>
        <p>All proceeds go toward putting the event on and ensuring the day goes smoothly. Expenses include getting the necessary insurance, permits, and infrastructure for a large community-wide event of this nature.</p>
        <p>Our fiscal sponsor is Tower Neighborhood Association. As a non-profit 501c3, all donations are tax-deductible through them. They help provide oversight to the funds that the community entrusts us with and we value transparency in how funds are collected and spent.</p>

        <p>If you plan to host a porch – either at your business or at your home, we need porch lineups by March 25th so we can get all of the band names on the back of our t-shirt!</p>

        <h3>Scroll down to sign up as a sponsor and make your donation!</h3>
        <p>You may also make a check out to "Tower Neighborhood Association" and mail to or drop off at: 1535 E Olive Ave Ste 101, Fresno, CA 93728. Ste 106.</p>

        <script type="text/javascript" src="https://form.jotform.com/jsform/260235625664155"></script>
        <div style="position:relative;overflow:hidden;height:600px;width:100%;"><iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/registration-page' allowpaymentrequest allowTransparency="true"></iframe></div>
    </div>
{% endblock %}