<div class="padding-2 border-bottom-1">
    <div class="row gutter-2 width-100">
        <h5 class="margin-0 padding-1 grow-1">GypsyBeanYoga</h5>
        <button class="small white padding-1"><i class="fa-regular fa-calendar"></i></button>
        <button class="small white padding-1"><i class="fa-regular fa-trash-can"></i></button>
    </div>
    <p class="margin-1"><small><i class="fa-regular fa-clock"></i> 10:00 AM - 10:30 AM</small></p>
    <p class="margin-1"><small><i class="fa-solid fa-location-pin"></i> The Gypsy Porch</small></p>
</div>