<div class="row width-100">
    <h4 class="margin-0 grow-1">Performances</h4>
    <p class="margin-0 small">{{ performance_count }} results</p>
</div>
<div class="rounded-2 border-light margin-y-2 overflow-hidden">
    {% for performance in performances %}
        <!-- <div class="background-light padding-2">
            <small><i class="fa-regular fa-clock"></i> 10:00 AM</small>
        </div> -->
        <div class="row gutter-2 padding-2 border-bottom-1">
            <div class="col grow-1">
                <div class="column gutter-1">
                    <h4 class="margin-0">{{ performance.performer.name }}</h4>
                    <div class="small"><i class="fa-solid fa-location-pin"></i> {{ performance.porch.name }}</div>
                    <div>
                        <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">{{ performance.performer.genre }}</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <button class="small round yellow border-none padding-2 inline-block"><i class="fa-solid fa-plus" style="width:1rem;height:1rem;"></i></button>
            </div>
        </div>
    {% endfor %}
</div>