
<div class="row width-100">
    <h4 class="margin-0 grow-1">Performances</h4>
    <p class="margin-0 small">{{ performances|length }} results</p>
</div>
<div class="rounded-2 margin-y-2 performance-list">
    {% for performance in performances %}
        {% if performance.show_time %}
            <div class="background-light padding-2">
                <small>
                    <i class="fa-regular fa-clock"></i>
                    {{ performance.start_time|date:"g:i A" }}
                </small>
            </div>
        {% endif %}
        <div class="row gutter-2 padding-2 performance" id="performance_{{ performance.id }}">
            {% include "planyourday/performance-detail.html" %}
        </div>
    {% endfor %}
</div>