<div class="col grow-1">
    <div class="column gutter-1">
        <h4 class="margin-0">{{ performance.performer.name }}</h4>
        <div class="small"><i class="fa-solid fa-location-pin"></i> {{ performance.porch.name }}</div>
        <div>
            <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">{{ performance.performer.genre }}</span>
        </div>
    </div>
</div>
<div class="col">
    <button
        class="small round yellow border-none padding-2 inline-block"
        hx-post="http://localhost:8300/plan-your-day/add-performance"
        hx-trigger="click"
        hx-vals='{"performance_id": "{{ performance.id }}"}'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#performance_{{ performance.id }}"
        hx-swap="outerHTML"
    ><i class="fa-solid fa-plus"></i></button>
</div>