<div class="col grow-1">
    <div class="column gutter-1">
        <h4 class="margin-0">{{ performance.performer.name }}</h4>
        <div class="small"><i class="fa-solid fa-location-pin"></i> {{ performance.porch.name }}</div>
        <div>
            {% for genre in performance.performer.genres.all %}
                <span class="chip background-light tiny padding-y-1 padding-x-2 margin-y-1">{{ genre.name }}</span>
            {% endfor %}
        </div>
    </div>
    <p class="margin-1"><small><i class="fa-regular fa-clock"></i> {{ performance.start_time }} - {{ performance.end_time }}</small></p>
</div>
<div class="col">
    <button
        class="small round yellow border-none padding-2 inline-block tooltip"
        {% if itinerary_id %}
            hx-post="{% url 'add_performance_shared' itinerary_id %}"
        {% else %}
            hx-post={% url 'add_performance' %}
        {% endif %}
        hx-trigger="click"
        hx-vals='{"performance_id": "{{ performance.id }}"}'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#performance_{{ performance.id }}"
        hx-swap="outerHTML"
    >
        <i class="fa-solid fa-plus"></i>
        <span class="tooltiptext">Add to<br>itinerary</span>
    </button>
</div>