<form
    hx-post="{% url 'performer-signup' %}"
    hx-target="#performer_signup_form"
    hx-swap="outerHTML"
    id="performer_signup_form"
    class="performer-signup-form"
    method="post"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    
    <div class="form-group performer" x-data="{selectedPerformer: '', highlightedIndex: 0, isSelected: null}">
        <div class="label label-performer" :class="{show: selectedPerformer}">
            <div class="left">
                <label for="id_name">Performer Name</label>
                <p>What should we call you?</p>
                <p>(And check to see if you're already in here)</p>
            </div>
            <div class="right">
                <p>You have selected an existing performer to claim as yours. The selected performer is highlighted <span style="background-color:red;color:white;padding:0 4px 4px 4px">green</span></p>
            </div>
        </div>
        <div class="input">
            <div class="wrapper">
                <input
                    id="id_name"
                    name="name"
                    type="text"
                    placeholder="Enter or Search"
                    hx-get="{% url 'performer-search' %}"
                    hx-trigger="input changed delay:500ms"
                    hx-target="#performer_results"
                    hx-swap="innerHTML"
                    hx-params="*"
                    @keydown.arrow-down.prevent="
                        highlightedIndex = Math.min(
                            highlightedIndex + 1,
                            $refs.results.querySelectorAll('li').length - 1
                        );
                        $nextTick(()=>{
                            $refs.results
                                .querySelectorAll('li')[highlightedIndex]
                                ?.scrollIntoView({block: 'nearest'});
                        });
                    "
                    @keydown.arrow-up.prevent="
                        highlightedIndex = Math.max(
                            highlightedIndex - 1,
                            0
                        );
                        $nextTick(()=>{
                            $refs.results
                                .querySelectorAll('li')[highlightedIndex]
                                ?.scrollIntoView({block: 'nearest'});
                        });
                    "
                    @keydown.enter.prevent="
                        $refs.results.querySelectorAll('li')[highlightedIndex]?.click()
                    "
                >
                <div
                    class="performer-results"
                    id="performer_results"
                    x-ref="results"
                ></div>
            </div>
            <button
                class="clear"
                x-show="selectedPerformer"
                @click.prevent="selectedPerformer=''"
            >Clear</button>
        </div>
        <input type="hidden" name="performer" id="id_performer" x-model="selectedPerformer">
    </div>
    {% if form.name.errors %}
        <ul class="errorlist">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form.performer.errors %}
        <ul class="errorlist">
            {% for error in form.performer.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <div class="label">
            <label for="id_email">An email for your account</label>
            <p>We need your email to make an account, and to email you.</p>
        </div>
        {{ form.email }}
    </div>
    {% if form.email.errors %}
        <ul class="errorlist">
            {% for error in form.email.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <div class="label">
            <label for="id_phone_number">Phone Number</label>
            <p>In case this is a better way to get ahold of you. No pressure</p>
        </div>
        {{ form.phone_number }}
    </div>
    {% if form.phone_number.errors %}
        <ul class="errorlist">
            {% for error in form.phone_number.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-group">
        <div class="label">
            <label for="id_bio">Biography</label>
            <p>Give us a feel for your performance &#128540</p>
        </div>
        {{ form.bio }}
    </div>
    {% if form.bio.errors %}
        <ul class="errorlist">
            {% for error in form.bio.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <div class="label">
            <label for="id_genres">Genres</label>
            <p>Don't box yourself in. Pick as many as you want.</p>
        </div>
        {{ form.genres }}
    </div>
    {% if form.genres.errors %}
        <ul class="errorlist">
            {% for error in form.genres.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <div class="label">
            <label for="id_member_count">About How Many Are You?</label>
            <p>We like to count how many performers show up for our events</p>
        </div>
        {{ form.member_count }}
    </div>
    {% if form.member_count.errors %}
        <ul class="errorlist">
            {% for error in form.member_count.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <div class="label">
            <label for="id_link">Put a URL Here:</label>
            <p>Instagram is fine or whatever</p>
        </div>
        {{ form.link }}
    </div>
    {% if form.link.errors %}
        <ul class="errorlist">
            {% for error in form.link.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="captcha-container">
        {{ form.captcha }}
    </div>
    {% if form.captcha.errors %}
        <ul class="errorlist">
            {% for error in form.captcha.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>After you create your account you can add or edit a profile picture 🙃📷</p>
    <button type="submit" id="form_submit">Submit</button>
</form>