{% if performers %}
    <ul>
    {% for performer in performers %}
        <li
            :class="{
                'highlight': highlightedIndex === {{ forloop.counter0 }} || isSelected == $el,
                'selected': selectedPerformer == '{{ performer.id }}'
            }"
            data-performer-id="{{ performer.id }}"
            @click="
                highlightedIndex = {{ forloop.counter0 }};
                selectedPerformer = '{{ performer.id }}';
            "
            @mouseenter="highlightedIndex = {{ forloop.counter0 }}"
        >
            {{ performer.name }}
        </li>
    {% endfor %}
    </ul>
{% endif %}