<div class="performance-card {% for filtered in performances %}{% if performance.id == filtered.id %}highlight{% endif %}{% endfor %}" id="performance_{{ performance.id }}">
    <div class="performance-header">
        <h2><a href="/performers/{{ performance.performer.slug }}">{{ performance.performer.name }}</a></h2>
        {% if performance.id in itinerary_test %}
            <div class="itinerary-add">
                <i class="fa-solid fa-check"></i>
            </div>
        {% else %}
            <div
                class="itinerary-add"
                hx-post="{% url 'add_performance_porch' %}"
                hx-trigger="click"
                hx-vals='{"performance_id": "{{ performance.id }}"}'
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#performance_{{ performance.id }}"
                hx-swap="outerHTML"
            >
                <i class="fa-solid fa-plus"></i>
            </div>
        {% endif %}
    </div>
    <div class="performance-body">
        <p>
            <small>
                <i class="fa-regular fa-clock"></i> {{ performance.start_time }} - {{ performance.end_time }}
            </small>
        </p>
        <div class="genres">
            {% for genre in performance.performer.genres.all %}
                <span class="chip">{{ genre }}</span>
            {% endfor %}
        </div>
        <div class="display-flex gutter-3">
            <div class="text-left grow-1" style="line-height:1.5rem">
                <a href="/porches/{{ performance.porch.slug }}" style="display:inline-block;text-align:center;font-size:14px;width:16px;height:16px;">
                    <i class="fa-solid fa-house-user"></i>
                </a>
                <a href="/porches/{{ performance.porch.slug }}" class="small">
                    {{ performance.porch.name }}
                </a>
                <br>
                <a href="{% url 'map' %}?porch={{ performance.porch.slug }}" style="display:inline-block;text-align:center;font-size:14px;width:16px;height:16px;">
                    <i class="fa-solid fa-location-pin"></i>
                </a>
                <a href="{% url 'map' %}?porch={{ performance.porch.slug }}" class="small">
                    {{ performance.porch.street_address }}
                </a>
            </div>
            <a href="https://www.google.com/maps/dir/?api=1&destination={{ performance.porch.street_address|urlencode }}">
                <i class="google-maps small"></i>
            </a>
            <a href="https://maps.apple.com/?q={{ performance.porch.street_address|urlencode }}">
                <i class="apple-maps small"></i>
            </a>
        </div>
    </div>
</div>