.pull-right{
    float: none !important;
}

/* .mw-header .mw-btn,.mw-coordinates-wrap{ */
/* .mw-header .mw-btn{
    display: none !important;
} */
.mw-header .mw-adress-input-wrap{
    width: 100% !important;
}

.gm-style .transit-container{
    color: black;
}