# Basic Django Settings
SECRET_KEY=<generate_a_secret_key>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,towerporchfest.org,www.towerporchfest.org
BASE=https://towerporchfest.org

# Email (Brevo dummy used below, replace with production values from Brevio)
BREVO_API_KEY=<your_api_key>

# Security & Maps (debugging values below, replace with produciton values from Google Developers site)
RECAPTCHA_PUBLIC=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_PRIVATE=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
GOOGLE_MAP_API_KEY=<your_maps_key>

# Database (name it porch_fest)
DB_NAME=porch_fest
DATABASE_PASS<your_postggres_password>
DATABASE_URL=postgres://postgres:DATABASE_PASS@localhost:5432/DB_NAME