{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1XM2TE7QX"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-J1XM2TE7QX'); </script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}My Site{% endblock %}</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <meta property="og:image" content="https://towerporchfest.org/static/website/images/2026-hero-teaser.png">
        <meta name="twitter:card" content="Tower Porchfest: Building Community Through Music & Art. In the Fresno, CA Tower District on April 25h, 2026. A free music and art community festival.">
        <meta name="twitter:image" content="https://towerporchfest.org/static/website/images/2026-hero-teaser.png">
        <meta property="og:image:width" content="1000">
        <meta property="og:image:height" content="1200">
        <meta property="og:image:alt" content="Tower Porchfest: Building Community Through Music & Art. In the Fresno, CA Tower District on April 25h, 2026. A free music and art community festival.">
		<script src="https://kit.fontawesome.com/630774b7c2.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script src="https://unpkg.com/alpinejs" defer></script>
		<link rel="stylesheet" href="{% static "css/style.css" %}?v=3">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% include "header.html" %}
		<main class="{% block mainclass %}{% endblock %}">
			{% block content %}{% endblock %}
		</main>
		{% include "footer.html" %}
		<script src="{% static 'js/mobile-menu.js' %}"></script>
		<script src="https://unpkg.com/htmx.org@1.9.3"></script>
		<script src="https://unpkg.com/alpinejs" defer></script>
		{% block footerjavascript %}{% endblock %}
	</body>
</html>
