@use "../variables" as *;

main.page{
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    margin: 1rem 0;
    min-height: calc(100vh - 240px);
    font-family: $font__text;
    .content{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        h1,h2,h3,h4,p{margin: 0;font-size: 1.2em;}
        @include header;
    }
}