@use "../variables" as *;
@use "sass:color";

.page-porch-styles {

    .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        .chip {
            border-radius: 1rem;
            color: black;
            background-color: $color-fg-accent;
            padding: 0.2rem 0.5rem;
            font-size: 0.7rem;
        }
    }

    .grow-1 {
        flex-grow: 1;
    }

}