<div class="porch-wrapper">
    <div class="hero">
        <div class="wrapper">
            {% comment %} <a class="map" href="{% url 'map' %}">< Map</a> {% endcomment %}
            <div class="title">
                <h1>{{ porch.name }}</h1>
                <p>{{ porch.street_address }}</p>
            </div>
            {% if porch.porch_picture %}
                <div class="img-wrapper">
                    <img src="/media/{{ porch.porch_picture }}" alt="Porch Picture">
                </div>
            {% endif %}
            <p>{{ porch.description }}</p>
        </div>
    </div>
    <div class="lineup">
        <div class="performance-list" x-data="itineraryHandler()">
            {% for performance in porch.performances.all %}
                <div class="performance {% for filtered in performances %}{% if performance.id == filtered.id %}highlight{% endif %}{% endfor %}">
                    <div class="info">
                        <h2>{{ performance.performer.name }}</h2>
                        <div class="genres">
                            {% for genre in performance.performer.genres.all %}
                                <span class="chip">{{ genre }}</span>
                            {% endfor %}
                        </div>
                        <div class="time">
                            <p><small><i class="fa-regular fa-clock"></i> {{ performance.start_time }} - {{ performance.end_time }}</small></p>
                        </div>
                    </div>
                    {% comment %} <div x-data="itineraryHandler()">
                        <button @click="addPerformance(123)">
                            Add to Itinerary
                        </button>

                        <p x-show="message" x-text="message" class="success"></p>
                    </div> {% endcomment %}
                    <button
                        class="itinerary-add"
                        @click="addPerformance('{{ performance.id }}')"
                    ><i class="fa-solid fa-plus"></i></button>
                </div>
                {% comment %} {% include 'planyourday/performance-detail.html' %} {% endcomment %}
            {% empty %}
                <p>No performers scheduled.</p>
            {% endfor %}
            {% if itinerary %}
                <a href="{% url 'plan_your_day' %}"><h3>View your itinerary in Plan Your Day</h3></a>
            {% endif %}
        </div>
    </div>
</div>
