<div class="porch-wrapper">
    <div class="hero">
        <div class="wrapper">
            {% comment %} <a class="map" href="{% url 'map' %}">< Map</a> {% endcomment %}
            {% if porch.porch_picture %}
                <div class="img-wrapper">
                    <img src="/media/{{ porch.porch_picture }}" alt="Porch Picture">
                </div>
            {% endif %}
            <div class="title">
                <h1>{{ porch.name }}</h1>
                <p>{{ porch.street_address }}</p>
            </div>
            <p>{{ porch.description }}</p>
        </div>
    </div>
    <div class="lineup">
        <div class="performance-list">
            {% for performance in porch.performances.all %}
                <div class="performance {% for filtered in performances %}{% if performance.id == filtered.id %}highlight{% endif %}{% endfor %}">
                    <h2>{{ performance.performer.name }}</h2>
                    <p>{{ performance.start_time }} - {{ performance.end_time }}</p>
                    {% for genre in performance.performer.genres.all %}
                        <p>{{ genre }}</p>
                    {% endfor %}
                </div>
            {% empty %}
                <p>No performers scheduled.</p>
            {% endfor %}
        </div>
    </div>
</div>
