{% load static %}
<section class="cards">
	<div class="card">
		<div class="square">
			<img class="icon" src="{% static 'website/images/ticket.png' %}" alt="">
		</div>
		<div class="content-wrapper">
			<h2>Tickets</h2>
			<p class="max-char">Porchfest is a free community event made possible by Creative Fresno and hundreds of volunteers. No ticket required. Showing up IS your ticket to an amazing time!</p>
			<a class="text-link" href="http://localhost:8000/map/?time-input=&genre=All&Food=Food&srch=">Porches with Food</a>
		</div>
	</div>
	<div class="card">
		<div class="square">
			<img class="icon" src="{% static 'website/images/fast-food.png' %}" alt="">
		</div>
		<div class="content-wrapper">
			<h2>Food & Drinks</h2>
			<p class="max-char">Many porches are featuring food options - not to mention the many great restaurants in the Tower! Explore the map or click the link below to list porches that have food.</p>
			<a class="text-link" href="http://localhost:8000/map/?time-input=&genre=All&Food=Food&srch=">Porches with Food</a>
		</div>
	</div>
	<div class="card">
		<div class="square">
			<img class="icon" src="{% static 'website/images/parking.png' %}" alt="">
		</div>
		<div class="content-wrapper">
			<h2>Parking</h2>
			<p class="max-char">Relaxed parking is available at Fresno City College in lots A, B, and C. Walking and biking into the neighborhood is strongly encouraged so we can keep the event as car-free as possible!</p>
			<a class="text-link" href="http://localhost:8000/map/?time-input=&genre=All&Food=Food&srch=">Porches with Food</a>
		</div>
	</div>
	<div class="card">
		<div class="square">
			<img class="icon" src="{% static 'website/images/merch.png' %}" alt="">
		</div>
		<div class="content-wrapper">
			<h2>Merch</h2>
			<p>Visit our Merch Store! Also merch will be available at the Tower Porchfest info booth on the day of. All purchases go back towards supporting this annual event.</p>
			<a href="http://localhost:8000/map/?time-input=&genre=All&Food=Food&srch=">Porches with Food</a>
		</div>
	</div>
</section>