{% extends "website/base.html" %}
{% load static %}
{% block title %}Tower Porchfest!{% endblock %}
{% block mainclass %}front-page-styles{% endblock %}
{% block content %}
	{% comment %} <div class="hero" style="background-image: url('{% static 'website/images/general-hero.png' %}');"></div> {% endcomment %}
	<div class="hero">
		<div class="img-wrapper">
			<img src="{% static 'website/images/general-hero.png' %}" alt="Tower Porchfest Hero Image">
		</div>
		<div class="countdown-wrapper">
			<div class="left">
				<h2 class="location">Fresno, CA</h2>
				<div>
					<h2 class="date">April 25, 2026</h2>
					<p class="subtext">A Free Music and Art Community Festival</p>
				</div>
			</div>
			<div class="right">
				<div class="counter-wrapper">
					<h2>Countdown</h2>
					<div id="counter">
						<span id="days">.</span>
						<span id="hours">.</span>
						<span id="minutes">.</span>
						<span id="seconds">.</span>
					</div>
					<div class="labels">
						<span>Days</span>
						<span>Hours</span>
						<span>Minutes</span>
						<span>Seconds</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section style="padding: 50px;">
		<h1>Porch Host Signups Are Now Open!</h1>
		<p>Head <a href="{% url 'porch-signup' %}">here</a> to sign up your porch</p>
	</section>
	<section style="padding: 0 50px 50px 50px;">
		<h1>Sign Up to be a Volunteer!</h1>
		<p>We are always looking for volunteers to help make Tower Porchfest a success! Sign up <a href="{% url 'volunteer' %}">here</a></p>
	</section>
	<section class="socials">
		<h2>Follow us on Social Media!</h2>
		<div class="icons">
			<a href="https://instagram.com/towerporchfest" target="_blank" id="front_page_instagram_link">
				<i role="link" class="fab fa-instagram fa-xl" aria-hidden="true"></i>
			</a>
			<a href="https://facebook.com/towerporchfest" target="_blank">
				<i role="link" class="fab fa-facebook-f fa-xl" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	{% comment %} {% include 'website/porch-list-form/form-wrapper.html' %} {% endcomment %}
	{% include "website/front-page/ad-cards.html" %}
	{% comment %} {% include "website/front-page/sponsors.html" %} {% endcomment %}
	<section class="donate">
		<h1>Support Tower Porchfest</h1>
		<div style="position:relative;overflow:hidden;height:600px;width:100%;"><iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/support-tower-porchfest' allowpaymentrequest allowTransparency="true"></iframe></div>
	</section>
	<script src="{% static 'website/js/countdown.js' %}"></script>
	<script>
		document.getElementById("front_page_instagram_link").addEventListener("click", (e)=>{
			gtag("event", "front_page_instagram_click", {
				location: "front_page"
			})
		})
	</script>
{% endblock %}