{% extends "website/base.html" %}
{% load static %}
{% block title %}Tower Porchfest!{% endblock %}
{% block mainclass %}front-page-styles{% endblock %}
{% block content %}
	<div class="hero" style="background-image: url('{% static 'website/images/2025-hero.png' %}');"></div>
	{% comment %} <div class="countdown-wrapper">
		<div class="left">
		</div>
		<div class="right">
		</div>
	</div> {% endcomment %}
	{% include 'website/porch-list-form/form-wrapper.html' %}
	{% include "website/front-page/ad-cards.html" %}
	{% comment %} {% include "website/front-page/sponsors.html" %} {% endcomment %}
	<section class="donate">
		<h1>Support Tower Porchfest</h1>
		<p>Porchfest is 100% volunteer run. Every donation goes directly towards enhancing this creative gathering and supporting art programming in our community.</p>
		<a href="https://www.zeffy.com/en-US/donation-form/support-tower-porchfest" target="_blank">Make a Donation</a>
	</section>
{% endblock %}