<div class="sponsors-wrapper">
    {# 1. Regroup by the raw integer 'level' to keep them sorted correctly #}
    {% regroup sponsors by level as sponsors_by_level %}
    {% for group in sponsors_by_level %}
		<div class="sponsor-level">
			{# 2. Use the first item in the list to pull the human-readable label #}
            {% if group.list.0.get_level_display == 'Event' %}
			    <h1>SPECIAL THANK YOU TO OUR EVENT SPONSOR</h1>
            {% else %}
			    <h1>{{ group.list.0.get_level_display }} Sponsors</h1>
            {% endif %}
			<div class="sponsors {{group.list.0.get_level_display}}">
				{% for sponsor in group.list %}
					{% if sponsor.website %}
                        <div>
                            <a href="{{ sponsor.website }}" target="_blank" rel="noopener noreferrer">
                                {% if sponsor.logo %}
                                    <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
                                {% else %}
                                    <span>{{ sponsor.name }}</span>
                                {% endif %}
                            </a>
                        </div>
					{% else %}
						<div>
							{% if sponsor.logo %}
								<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
							{% else %}
								<span>{{ sponsor.name }}</span>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
    {% endfor %}
</div>