$color-button-bg:       #6f91a5;
$color-button-fg:       #fff;
$color-main-bg:         #faf1d5;
$color-link-special:    #6F91A5;
$color-header-bg:       #212133;
$color-accent-bg:       #212133;
$color-text-accent:     #f2b814;