$color-button-bg:       #6f91a5;
$color-button-fg:       #fff;
$color-main-bg:         #ebe2d8;
$color-link-special:    #6F91A5;
$color-header-bg:       #212133;
$color-accent-bg:       #212133;
$color-text-accent:     #f2b814;

// Transition to these:
$color-bg-main:     #ebe2d8;

$color-bg-button:   #6f91a5;
$color-fg-button:   #fff;
$color-fg-link:     #6F91A5;

$color-bg-header:   #212133;
$color-bg-accent:   #212133;
$color-fg-accent:   #f2b814;