@use "../variables" as *;
@use "sass:color";

main.plan-your-day {
    // min-height: calc(var(--vh, 1vh) * 100);
    min-height: calc(100vh - 240px);
    background-color: $color-bg-main;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "filters"
        "performances"
        "itinerary";

    font-family: $font__text;

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "filters performances itinerary";
    }

    .filters {
        background-color: white;
        grid-area: filters;

        .genre-list{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 5px;
            max-height: 100px;
            overflow-y: scroll;

            .chip{
                transition: all 0.2s ease;
            }

            .active{
                background-color: green;
            }
        }
    }

    .performances {
        background-color: white;
        grid-area: performances;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .itinerary {
        background-color: white;
        grid-area: itinerary;
    }

    #search-filters {
        flex-direction: column;
    }

    input {
        max-width: 100%;
    }

    .display-none {
        display: none;
    }

    .display-block {
        display: block;
    }

    .display-flex {
        display: flex;
    }

    .display-sm-none {
        display: none;
    }

    .display-md-none {
        @media screen and (min-width:900px) {
            display: none;
        }
    }

    .display-md-block {
        @media screen and (min-width:900px) {
            display: block;
        }
    }

    .display-md-flex {
        @media screen and (min-width:900px) {
            display: block;
        }
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .border {
        border: solid 1px $color-bg-accent;
    }

    .border-none {
        border: none;
    }

    .border-top-1 {
        border-top: solid 1px $color-bg-accent;
    }

    .border-bottom-1 {
        border-bottom: solid 1px $color-bg-accent;
    }

    .border-y-1 {
        border-top: solid 1px $color-bg-accent;
        border-bottom: solid 1px $color-bg-accent;
    }

    .border-x-1 {
        border-left: solid 1px $color-bg-accent;
        border-right: solid 1px $color-bg-accent;
    }

    .border-ghost {
        border: solid 1px $color-bg-main;
    }

    .border-light {
        border: solid 1px $color-bg-accent;
    }

    .background-white {
        background-color: $color-fg-button;
    }

    .background-light {
        background-color: $color-bg-main;
    }

    .background-yellow {
        background-color: $color-fg-accent;
    }

    .inline-block {
        display: inline-block;
    }

    .row {
        display: flex;

        &.gutter-3 {
            margin: -1rem;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .gutter-1 {
        gap: 0.2rem;
    }

    .gutter-2 {
        gap: 0.5em;
    }

    .gutter-3 {
        gap: 1em;
    }

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;
    }

    .grow-1 {
        flex-grow: 1;
    }

    .tiny {
        font-size: 0.7rem;
    }

    .small {
        font-size: 0.85rem;
    }

    .nowrap {
        white-space: nowrap;
    }

    .width-100 {
        width: 100%;
    }

    .margin-0 {
        margin: 0;
    }

    .margin-1 {
        margin: 0.2rem;
    }

    .margin-2 {
        margin: 0.5rem;
    }

    .margin-3 {
        margin: 1rem;
    }

    .margin-y-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .margin-y-1 {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .margin-y-2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .margin-y-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .margin-top-0 {
        margin-top: 0;
    }

    .margin-top-1 {
        margin-top: 0.2rem;
    }

    .margin-top-2 {
        margin-top: 0.5rem;
    }

    .margin-top-3 {
        margin-top: 1rem;
    }

    .margin-bottom-0 {
        margin-bottom: 0;
    }

    .margin-bottom-1 {
        margin-bottom: 0.2rem;
    }

    .margin-bottom-2 {
        margin-bottom: 0.5rem;
    }

    .margin-bottom-3 {
        margin-bottom: 1rem;
    }

    .padding-y-0 {
        padding: 0;
    }

    .padding-1 {
        padding: 0.2rem;
    }

    .padding-2 {
        padding: 0.5rem;
    }

    .padding-3 {
        padding: 1rem;
    }

    .padding-4 {
        padding: 2rem;
    }

    .padding-y-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .padding-y-1 {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .padding-y-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .padding-y-3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .padding-x-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .padding-x-1 {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .padding-x-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .padding-x-3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .round {
        border-radius: 50%;
    }

    .rounded-0 {
        border-radius: 0.2rem;
    }

    .rounded,
    .rounded-1 {
        border-radius: 0.2rem;
    }

    .rounded-2 {
        border-radius: 0.5rem;
    }

    .rounded-3 {
        border-radius: 1rem;
    }

    .chip {
        border-radius: 1rem;
        color: black;
        display: inline-block;
    }

    button {
        padding: 8px 10px 10px 10px;
        border-radius: 5px;
        font-size: 1.5rem;
        text-decoration: none;
        cursor: pointer;

        &.default {
            background-color: $color-bg-button;
            color: $color-fg-button;

            &:hover {
                text-decoration: underline;
            }
        }

        &.white {
            background-color: $color-fg-button;
            border: solid 1px $color-bg-accent;
            color: black;

            &:hover {
                background-color: color.adjust($color-fg-button, $lightness: -5%);
            }
        }

        &.light {
            background-color: $color-bg-main;
            border: none;
            color: black;

            &:hover {
                background-color: color.adjust($color-bg-main, $lightness: -10%);
            }
        }

        &.yellow {
            background-color: $color-fg-accent;
            border: none;
            color: black;

            &:hover {
                background-color: color.adjust($color-fg-accent, $lightness: 10%);
            }
        }

        &.small {
            font-size: 0.85rem;
        }
    }

    .field-group {
        @include search;
    }
}