<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; background: #f7f7f7; padding: 20px;">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table width="600" style="background: white; padding: 30px; border-radius: 8px;">
          <tr>
            <td>
              <h2>Create your user to edit your porch!</h2>
              <p><a href="{{ invite_link }}">Click here to register your user</a></p>
              <h2>Edit your porch and add performances!</h2>
              <img style="max-width:200px" src="https://towerporchfest.org/static/porchpanel/images/porch-edit-scroll.png" alt="Scroll down on the porch edit page to add performances">
              <h2>Scroll on performances on mobile</h2>
              <img style="max-width:200px" src="https://towerporchfest.org/static/porchpanel/images/porch-edit-performances.gif" alt="Scroll across performance fields">
              <h2>Edit your performers from the dashboard</h2>
              <img style="max-width:200px" src="https://towerporchfest.org/static/porchpanel/images/porch-edit-performers.png" alt="Scroll across performance fields">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
