<!-- pages/templates/pages/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Tower Porch Fest</title>
	<link rel="stylesheet" href="{% static 'porchfestcore/style.css' %}">
</head>
<body>
	<div class="grid-main">
		<header>
			<h1>Tower Porch Fest!</h1>
		</header>
		<main>
			<div class="hero"></div>
			<p>Welcome to the Tower Porch Fest live index page!</p>
			<p>Check out the latest updates and events happening at the fest.</p>
		</main>
		<footer>
			<p>New PorchFest Site Coming Soon</p>
		</footer>
	</div>
</body>
</html>