<div class="toolbar">
    <form
        @input.debounce.300ms="updateResults()"
        @change.debounce.300ms="updateResults()"
        @submit.prevent
        @keydown.enter.prevent="updateResults(true)"
        class="search-and-filter"
        action=""
        id="map_filter">
        <div class="field-group white rounded map-search">
            {% comment %} <label for="search" class="padding-2 background-white"><i class="fa-solid fa-magnifying-glass"></i></label>
            <label for="search"></label> {% endcomment %}
            <input
                id="search"
                name="search"
                type="text"
                class="grow-1 padding-2"
                placeholder="Search"
                @click="$store.ui.showFilter = !$store.ui.showFilter"
            />
            <button
                @click="$store.ui.showFilter = !$store.ui.showFilter"
                type="button"
                class="display-md-none"
            ><i class="fa-solid fa-sliders"></i></button>
        </div>
        <div
            x-show="$store.ui.showFilter"
            x-transition
            x-transition.scale.origin.top
            id="search_filters"
            class="gutter-2 margin-top-3 filter-wrapper"
        >
            <div class="filter-time filter">
                <div>Search Filters</div>
                <button
                    @click="$store.ui.showFilter = false"
                    class="close"
                >
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="filter-time filter">
                <label for="after">Time:</label>
                <input type="time" name="after" id="filter_time">
            </div>
            <div class="filter-now filter">
                <label for="now_time">Playing Now:</label>
                <input type="checkbox" name="now_time" id="filter_now_time">
            </div>
            <div class="filter-vendor filter">
                <label for="vendor">Vendor:</label>
                <input type="checkbox" name="vendor" id="filter_vendor">
            </div>
            <div class="filter-porta filter">
                <label for="porta">Bathroom:</label>
                <input type="checkbox" name="porta" id="filter_porta">
            </div>
            {% comment %} <div class="filter-sponsored filter">
                <label for="sponsored">Sponsored:</label>
                <input type="checkbox" name="sponsored" id="filter_sponsor">
            </div> {% endcomment %}
            <div class="bus filter">
                <label for="show_bus">Trolley Route:</label>
                <input type="checkbox" name="show_bus" id="show_bus">
            </div>
            <div class="genres">
                <div class="title">
                    <h4 class="margin-0">Genres</h4>
                    <span x-show="selectedGenres.length > 0" @click="selectedGenres = []; $dispatch('change')">Clear Genres <i class="fa-solid fa-x"></i></span>
                </div>
                <div id="selected_genres">
                    <template x-for="genre in selectedGenres" :key="genre.slug">
                        <span
                            class="chip active" 
                            @click="
                                selectedGenres = selectedGenres.filter(g => g.slug !== genre.slug);
                                $dispatch('change')
                            "
                        >
                            <span x-text="genre.name"></span>
                            <i class="fa-solid fa-x"></i>
                        </span>
                    </template>
                </div>
                <div class="margin-y-2 rounded-0 padding-2 genre-list border">
                    {% for genre in genres %}
                        <span
                            class="chip background-yellow small padding-x-2 padding-y-1 margin-y-1"
                            {% comment %} x-show="!selectedGenres.includes('{{ genre.slug }}')" {% endcomment %}
                            @click="
                                selectedGenres.push({
                                    slug: '{{ genre.slug }}',
                                    name: '{{ genre.name }}',
                                });
                                $dispatch('change')
                            "
                        >
                            {{ genre.name }}
                        </span>
                    {% endfor %}
                    <template x-for="genre in selectedGenres" :key="genre.slug">
                        <input
                            type="hidden"
                            name="genres"
                            :value="genre.slug"
                        >
                    </template>
                </div>
            </div>
            <button
                class="yellow small"
                @click="$el.closest('form').reset(); $dispatch('change'); $store.ui.showFilter = false; selectedGenres = []"
            >Reset Filters</button>
        </div>
        <div
            id="filtered_count_wrap"
            x-show="$store.ui.filteredCount > 0"
            x-transition
        >Porches: <span x-text="$store.ui.filteredCount"></span></div>
    </form>
    <div class="button-wrap">
        <button
            @click="$store.ui.showItinerary = true"
            id="itinerary_slideout_button"
        >
            <i class="fa-solid fa-angle-left"></i>
            <i class="fa-solid fa-route"></i>
            <span class="label">Itinerary</span>
        </button>
    </div>
</div>