{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% comment %} <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1XM2TE7QX"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-J1XM2TE7QX'); </script> {% endcomment %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Map!</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
		<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
		<script src="https://kit.fontawesome.com/aebdbe8212.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/alpinejs" defer></script>
    	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		<div id="root" x-data="{showItinerary: false}" x-init="$store.filter = {showFilter: false}">
			<div class="map-header main-header">
				<div class="button-wrap">
					<a href="/" class="home-button">Home</a>
				</div>
				<a href="https://fresnoschoolwatch.com" target="_blank" class="header-ad"><img src="" alt=""></a>
			</div>
			<div class="itinerary-button-wrap">
				<button
					@click="showItinerary = true"
				>
					<i class="fa-solid fa-angle-left"></i>
					<i class="fa-solid fa-route"></i>
					<span class="tooltiptext">My Itinerary</span>
				</button>
			</div>
			<form
				@input.debounce.300ms="updateResults()"
				@change.debounce.300ms="updateResults()"
				@submit.prevent
				@keydown.enter.prevent="updateResults(true)"
				class="search-and-filter"
				action=""
				id="map_filter">
				<div class="field-group white rounded map-search">
					<label for="search" class="padding-2 background-white"><i class="fa-solid fa-magnifying-glass"></i></label>
					<input
						@focus="$store.filter.showFilter = true"
						@click="$store.filter.showFilter = true"
						id="search"
						name="search"
						type="text"
						class="grow-1 padding-2"
						placeholder="Search" />
					<button
						@click="$store.filter.showFilter = !$store.filter.showFilter"
						type="button"
						class="display-md-none"
					><i class="fa-solid fa-sliders"></i></button>
				</div>
				<div
					x-show="$store.filter.showFilter"
					x-transition
					x-transition.scale.origin.top
					id="search_filters"
					class="gutter-2 margin-top-3 filter-wrapper"
				>
					<div class="filter-time filter">
						<label for="after">Time:</label>
						<input type="time" name="after" id="filter_time">
					</div>
					<div class="filter-now filter">
						<label for="now_time">Playing Now:</label>
						<input type="checkbox" name="now_time" id="filter_now_time">
					</div>
					<div class="genres filter-column">
						<label for="genres">Genres (hold Ctrl/Cmd to select multiple):</label>
						<select id="genres" name="genres" multiple size="4">
							{% for genre in genres %}
								<option value="{{ genre.slug }}">{{ genre.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="other-options">
						<div class="filter-vendor filter">
							<label for="vendor">Vendor:</label>
							<input type="checkbox" name="vendor" id="filter_vendor">
						</div>
						<div class="filter-porta filter">
							<label for="porta">Bathroom:</label>
							<input type="checkbox" name="porta" id="filter_porta">
						</div>
						<div class="filter-sponsored filter">
							<label for="sponsored">Sponsored:</label>
							<input type="checkbox" name="sponsored" id="filter_sponsor">
						</div>
					</div>
					<div class="bus filter">
						<label for="show_bus">Show Trolley:</label>
						<input type="checkbox" name="show_bus" id="show_bus">
					</div>
					<button
						class="yellow small"
						@click="$el.closest('form').reset(); $dispatch('change'); $store.filter.showFilter = false;"
					>Reset Filters</button>
				</div>
			</form>
			<div id="map" @click="$store.filter.showFilter = false"></div>
			<div
				x-data="modalHistory()"
				x-show="$store.porch.open"
				x-transition
				class="porch-modal"
				x-effect="
					if($store.porch.content){
						$nextTick(()=>htmx.process($el))
					}
				"
			>
				<header>
					<i class="fas fa-times-circle" @click="closeModal()"></i>
				</header>
				<div x-html="$store.porch.content"></div>
			</div>
			<div
				class="map-itinerary"
				id="itinerary"
				:class="showItinerary ? 'open' : ''"
			>
				<div class="slideout_header">
					<h4>
						<i class="fa-solid fa-route"></i>
						My Itinerary
					</h4>
					<div class="grow-1">
						<button
							@click="showItinerary = false"
						>
							{% comment %} <i class="fa-solid fa-xmark"></i> {% endcomment %}
							<i class="fa-solid fa-angle-right"></i>
						</button>
					</div>
				</div>
				<div class="performance-list slideout_body" id="itinerary_sidebar">
					{% include "planyourday/itinerary-list.html" %}
				</div>
			</div>
		</div>
		<script>const MAPBOX_PUBLIC_KEY = "{{ MAPBOX_PUBLIC_KEY|escapejs }}"</script>
		<script src="{% static 'porchfestcore/js/map.js' %}"></script>
	</body>
</html>