{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% comment %} <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1XM2TE7QX"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-J1XM2TE7QX'); </script> {% endcomment %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Map!</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
		<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
		<script src="https://kit.fontawesome.com/aebdbe8212.js" crossorigin="anonymous"></script>
    	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script>
			document.addEventListener('alpine:init', ()=>{
				Alpine.store('ui', {
					showFilter: false,
					showItinerary: false,
				})
			})
		</script>
		<script src="https://unpkg.com/alpinejs" defer></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<style>
			body{
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div id="root" x-data="{selectedGenres: []}">
			<div class="map-header main-header">
				<div class="button-wrap">
					<a href="/" class="home-button">Home</a>
				</div>
				<a href="https://fresnoschoolwatch.com" target="_blank" class="header-ad"><img src="" alt=""></a>
			</div>
			<div class="toolbar">
				<form
					@input.debounce.300ms="updateResults()"
					@change.debounce.300ms="updateResults()"
					@submit.prevent
					@keydown.enter.prevent="updateResults(true)"
					class="search-and-filter"
					action=""
					id="map_filter">
					<div class="field-group white rounded map-search">
						{% comment %} <label for="search" class="padding-2 background-white"><i class="fa-solid fa-magnifying-glass"></i></label>
						<label for="search"></label> {% endcomment %}
						<input
							@focus="$store.ui.showFilter = true"
							@click="$store.ui.showFilter = true"
							id="search"
							name="search"
							type="text"
							class="grow-1 padding-2"
							placeholder="Search" />
						<button
							@click="$store.ui.showFilter = !$store.ui.showFilter"
							type="button"
							class="display-md-none"
						><i class="fa-solid fa-sliders"></i></button>
					</div>
					<div
						x-show="$store.ui.showFilter"
						x-transition
						x-transition.scale.origin.top
						id="search_filters"
						class="gutter-2 margin-top-3 filter-wrapper"
					>
						<div class="filter-time filter">
							<label for="after">Time:</label>
							<input type="time" name="after" id="filter_time">
						</div>
						<div class="filter-now filter">
							<label for="now_time">Playing Now:</label>
							<input type="checkbox" name="now_time" id="filter_now_time">
						</div>
						<div class="other-options">
							<div class="filter-vendor filter">
								<label for="vendor">Vendor:</label>
								<input type="checkbox" name="vendor" id="filter_vendor">
							</div>
							<div class="filter-porta filter">
								<label for="porta">Bathroom:</label>
								<input type="checkbox" name="porta" id="filter_porta">
							</div>
							<div class="filter-sponsored filter">
								<label for="sponsored">Sponsored:</label>
								<input type="checkbox" name="sponsored" id="filter_sponsor">
							</div>
						</div>
						<div class="bus filter">
							<label for="show_bus">Show Trolley:</label>
							<input type="checkbox" name="show_bus" id="show_bus">
						</div>
						<div class="genres">
							<h4 class="margin-0">Genres</h4>
							<div id="selected_genres">
								<template x-for="genre in selectedGenres" :key="genre.slug">
									<span
										class="chip active" 
										@click="
											selectedGenres = selectedGenres.filter(g => g.slug !== genre.slug);
											$dispatch('change')
										"
									>
										<span x-text="genre.name"></span>
										<i class="fa-solid fa-x"></i>
									</span>
								</template>
							</div>
							<span class="chip active" x-show="selectedGenres.length > 0" @click="selectedGenres = []; $dispatch('change')" style="align-self: flex-start;">Clear Genres <i class="fa-solid fa-x"></i></span>
							<div class="margin-y-2 rounded-0 padding-2 genre-list border">
								{% for genre in genres %}
									<span
										class="chip background-yellow small padding-x-2 padding-y-1 margin-y-1"
										{% comment %} x-show="!selectedGenres.includes('{{ genre.slug }}')" {% endcomment %}
										@click="
											selectedGenres.push({
												slug: '{{ genre.slug }}',
												name: '{{ genre.name }}',
											});
											$dispatch('change')
										"
									>
										{{ genre.name }}
									</span>
								{% endfor %}
								<template x-for="genre in selectedGenres" :key="genre.slug">
									<input
										type="hidden"
										name="genres"
										:value="genre.slug"
									>
								</template>
							</div>
						</div>
						<button
							class="yellow small"
							@click="$el.closest('form').reset(); $dispatch('change'); $store.ui.showFilter = false; selectedGenres = []"
						>Reset Filters</button>
					</div>
				</form>
				<div class="button-wrap">
					<button
						@click="$store.ui.showItinerary = true"
						id="itinerary_slideout_button"
					>
						<i class="fa-solid fa-angle-left"></i>
						<i class="fa-solid fa-route"></i>
						<span class="label">Itinerary</span>
					</button>
				</div>
			</div>
			<div id="map" @click="$store.ui.showFilter = false"></div>
			<div
				x-data="modalHistory()"
				x-show="$store.porch.open"
				x-transition
				class="porch-modal"
				x-effect="
					if($store.porch.content){
						$nextTick(()=>htmx.process($el))
					}
				"
			>
				<header>
					<i class="fas fa-times-circle" @click="closeModal()"></i>
				</header>
				<div x-html="$store.porch.content"></div>
			</div>
			<div
				class="itinerary_slideout"
				id="itinerary"
				:class="$store.ui.showItinerary ? 'open' : ''"
			>
				<div class="slideout_header">
					<h4>
						<i class="fa-solid fa-route"></i>
						My Itinerary
					</h4>
					<div class="grow-1">
						<button
							@click="$store.ui.showItinerary = false"
						>
							<i class="fa-solid fa-xmark"></i>
						</button>
					</div>
				</div>
				<div class="performance-list slideout_body" id="itinerary_sidebar">
					{% include "planyourday/itinerary-list.html" %}
				</div>
			</div>
		</div>
		<script>const MAPBOX_PUBLIC_KEY = "{{ MAPBOX_PUBLIC_KEY|escapejs }}"</script>
		<script src="{% static 'porchfestcore/js/map.js' %}"></script>
	</body>
</html>