<!-- pages/templates/pages/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Tower Porch Fest</title>
		<link rel="stylesheet" href="{% static 'porchfestcore/style.css' %}">
	</head>
	<body>
		{% include 'porchfestcore/header.html' %}
		<main class="front-page-styles">
			<div class="hero" style="background-image: url('{% static 'porchfestcore/images/2025-hero.png' %}');"></div>
			<div class="countdown-wrapper">
				<div class="left">
				</div>
				<div class="right">
				</div>
			</div>
		</main>
	</body>
</html>